/* Place your CSS styles in this file */
.bg1{/*主要的背景，我想讓背景弄成深色的斜的漸層*/
    background-color: black;
    color: whitesmoke;
}
.bg2{/*白天版背景*/
    /*background-color: aliceblue;
    color:rebeccapurple;我原本是這樣弄，但後來知道漸層怎麼弄，就註掉了*/
    background-image: radial-gradient(AliceBlue,Azure,LightCyan,PaleTurquoise,PowderBlue);
    width: 100%;
    height: 100%;
    color: midnightblue;
    font-size: 20px;
}
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight:bold ;
    text-shadow: 5px 5px 5px rgb(4, 47, 238) ;
    color: rgba(3, 2, 61, 0.925);
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.example{
    border:1px solid coral ;
    outline: 3px solid chocolate;
    background-image: linear-gradient(to right, BlanchedAlmond,LemonChiffon,Ivory,LightGoldenRodYellow,LavenderBlush);
    width: 100%;
    height: 100%;
}
.point{
    text-decoration-line: underline;
    background-color:rgb(255, 251, 4) ;
    text-decoration-color: tomato;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    color: crimson;

}
.zong{
    color: rgb(221, 146, 8);
}
.chi{
    color:darkred;
}
#imgcrow{
    max-width: 100%;
    height:auto ;
}
